.mat-toolbar {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  background-color: #ff4e00;
  justify-content: flex-start;
  align-items: center;
}

.vizlogo {
  width:8%;
  border-right-style: solid;
  border-right-color: #cc3e00;
  border-right-width: 1px;
  padding-right:10px;
  align-items: center;
}

.useroremail {
  text-align: justify;
  color: #f5f5f5;
  position:absolute;
  right:10px;


}

.vizteams {
  padding-left:10px;
  font-size: 20px;
  align-content: center;
  text-align: center;
  color: #f5f5f5;

}
