.empty-card-text {
  font-size: xx-large;
  min-width: 100%;
  font-weight: 500;
}
.mat-card {
  display: flex;
  min-height: 70%;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}

.mat-card-header {
  color: rgb(161, 154, 154);
}
