.team-title {
  font-size: xx-large;
  padding-top: 8px;
  padding-right: 8px;
  cursor: pointer;
}
.member-title {
  font-size: xx-large;
  padding-top: 8px;
  padding-right: 8px;
}

.empty-card-text {
  font-size: xx-large;
  min-width: 100%;
  font-weight: 500;
}
.info-card {
  height: 70%; /* Set a fixed height for the card */
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative; /* Add position relative to create stacking context */
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
}
.default-display {
  display: flex;
  min-height: 70%;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}
.mat-card-header {
  color: rgb(161, 154, 154);
}
mat-card {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.imgPath {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 16px;
}
.avatar {
  height: 12vh;
  width: 6vw;
  padding: 8px;
}
.member-image {
  height: 18vh;
  width: 9vw;
  padding: 8px;
}

.content-holder {
  display: flex;
  width: 45%;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.content-holder-selected {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.text-holder {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: x-large;
}

.mat-card-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.name {
  padding-bottom: 4px;
}

.title {
  padding-top: 4px;
}

.archive-button {
  margin-right: 8px;
  cursor: pointer;
  font-size: xx-large;
}
.edit-button {
  margin-right: 32px;
  padding-right: 32px;
  cursor: pointer;
  font-size: xx-large;
}

.icon-action-row {
  padding-right: 8px;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  background-color: white; /* Add a background color to ensure visibility */
  z-index: 1;
}

.info-holder {
  min-height: 85%; /*keeps scroll bar from being always active and action row sticky */
  padding-bottom: 10px;
  box-sizing: border-box;
}

.breadcrumb-holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
