<mat-card *ngIf="!infoDisplay" class="default-display">
  <mat-card-header>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle class="empty-card-text"
      >Select a team to view members</mat-card-subtitle
    >
  </mat-card-header>
</mat-card>

<mat-card *ngIf="infoDisplay" class="info-card">
  <mat-card-header>
    <div class="breadcrumb-holder">
      <mat-card-title (click)="clickedTeam()" class="team-title">{{
        infoDisplay.name
      }}</mat-card-title>
      <mat-card-title class="member-title" *ngIf="selectedMember">
        > {{ selectedMember.fname }} {{ selectedMember.lname }}</mat-card-title
      >
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="!selectedMember" class="mat-card-content">
    <div class="content-holder" *ngFor="let member of infoDisplay.team_members">
      <img
        (click)="clickedMember(member)"
        *ngIf="member.img_url; else useAvatar"
        src="{{ member.img_url }}"
        class="avatar"
      />
      <ng-template #useAvatar
        ><img
          (click)="clickedMember(member)"
          class="avatar"
          src="assets/avatar.png"
        />
      </ng-template>
      <div class="text-holder">
        <div class="name">{{ member.fname }} {{ member.lname }}</div>
        <div class="title">{{ member.title }}</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="!selectedMember" class="info-action-row">
    <mat-icon
      matTooltip="Edit {{ infoDisplay.name }}"
      matTooltipPosition="above"
      class="edit-button"
      mat-icon-button
      >edit</mat-icon
    >
    <mat-icon
      matTooltip="Archive {{ infoDisplay.name }}"
      matTooltipPosition="above"
      class="archive-button"
      mat-icon-button
      (click)="deleteTeam(infoDisplay.id)"
      >archive</mat-icon
    ></mat-card-actions
  >

  <mat-card-content *ngIf="selectedMember" class="mat-card-content">
    <div class="content-holder-selected">
      <img
        *ngIf="selectedMember.img_url; else useAvatar"
        src="{{ selectedMember.img_url }}"
        class="member-image"
      />
      <ng-template #useAvatar
        ><img class="member-image" src="assets/avatar.png" />
      </ng-template>
    </div>
    <div class="text-holder-selected">
      <div class="name">
        {{ selectedMember.fname }} {{ selectedMember.lname }}
      </div>
      <div class="title">{{ selectedMember.title }}</div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="selectedMember" class="info-action-row">
    <mat-icon
      matTooltip="Edit {{ selectedMember.fname }}"
      matTooltipPosition="above"
      class="edit-button"
      mat-icon-button
      >edit</mat-icon
    >
    <mat-icon
      matTooltip="Archive {{ selectedMember.fname }}"
      matTooltipPosition="above"
      class="archive-button"
      mat-icon-button
      (click)="deleteMember(selectedMember)"
      >archive</mat-icon
    ></mat-card-actions
  >
</mat-card>
