<mat-card class="team-card">
  <mat-card-header>
    <mat-card-title
      matTooltip="Open/Close All"
      matTooltipPosition="above"
      (click)="togglePanel()"
      class="team-title"
    >
      Teams
    </mat-card-title>
  </mat-card-header>

  <mat-progress-bar
    *ngIf="isLoading"
    mode="determinate"
    [value]="progressValue"
  ></mat-progress-bar>

  <div class="team-container">
    <mat-card-content class="team-content">
      <mat-accordion class="team-accordion" multi>
        <mat-expansion-panel
          (click)="displayTeam(team)"
          [expanded]="toggle"
          *ngFor="let team of teamsList"
          class="team-expansion-panel"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title"
              >{{ team.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div
            class="imgPath"
            cdkDropList
            id="{{ team.name }}"
            [cdkDropListData]="team.team_members"
            [cdkDropListConnectedTo]="connectedTo"
            cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="drop($event, team.id)"
          >
            <div
              class="image"
              *ngFor="let teamMember of team.team_members"
              cdkDrag
            >
              <img
                *ngIf="teamMember.img_url; else useAvatar"
                src="{{ teamMember.img_url }}"
                class="avatar"
                matTooltip="{{ teamMember.lname }}, {{ teamMember.fname }}"
                [matTooltipClass]="'teammembertooltip'"
                [matTooltipPosition]="'above'"
              />&nbsp;
              <ng-template #useAvatar
                ><img
                  class="avatar"
                  src="assets/avatar.png"
                  matTooltip="{{ teamMember.lname }}, {{ teamMember.fname }}"
                  [matTooltipClass]="'teammembertooltip'"
                  [matTooltipPosition]="'above'"
                />&nbsp;
              </ng-template>
            </div>
            <br />
          </div>
          <p style="text-align: center" *ngIf="team.team_members?.length < 1">
            No members on this team.
          </p>
          <mat-action-row class="icon-holder">
            <div class="counter">{{ team.team_members?.length ?? 0 }}/12</div>

            <mat-icon
              (click)="addMember(this.teamsList, team)"
              class="person-icon"
              matTooltip="Add Member"
              [matTooltipPosition]="'above'"
            >
              person_add
            </mat-icon>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </div>
  <mat-action-row class="action-row">
    <mat-icon
      (click)="addTeam()"
      matTooltip="Add Team"
      [matTooltipPosition]="'above'"
      class="add-team"
      >add_box
    </mat-icon>
  </mat-action-row>
</mat-card>
