.team-title {
  font-size: xx-large;
  padding: 4px;
  cursor: pointer;
}

.panel-wrapper {
  border-bottom: 2px solid black;
}

.panel-title {
  font-size: larger;
  padding: 4px;
  color: rgb(161, 154, 154);
}

.add-team {
  margin-right: 1rem;
  font-size: x-large;
  color: rgba(69, 90, 100, 0.87);
  cursor: pointer;
}

.action-row {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  background-color: white; /* Add a background color to ensure visibility */
  z-index: 1;
}

.icon-holder {
  display: flex;
  justify-content: flex-end;
}

.person-icon {
  padding-right: 16px;
  font-size: xx-large;
  color: rgba(69, 90, 100, 0.87);
  cursor: pointer;
}

.mat-card {
  min-height: 80%;
  max-width: 160%;
  margin-left: 50px;
  margin-top: 30px;
  padding: 0;
}

.mat-card-header {
  color: rgb(161, 154, 154);
  border-bottom-style: solid;
  border-bottom-color: #f5f5f5;
  border-bottom-width: 2px;
  padding-bottom: 3px;
  padding-top: 10px;
}

.avatar {
  height: 5vh;
  width: 3vw;
  padding: 1px;
  cursor: move;
}

.imgPath {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

::ng-deep .teammembertooltip {
  position: relative;
  margin: -5;
  width: auto;
  flex-wrap: nowrap;
  top: 13px;
  left: 0px;
  padding: 0px;
}

.team-card {
  height: 80vh; /* Set a fixed height for the card */
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative; /* Add position relative to create stacking context */
}

.team-container {
  min-height: 85%; /*keeps scroll bar from being always active and action row sticky */
  padding-bottom: 10px;
  box-sizing: border-box;
}

.counter {
  margin-right: 16px;
  padding-top: 8px;
}

.image {
  padding-right: 8px;
}

.dragdrop-list {
  width: 80vw !important;
  min-height: 30px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 50px;
}

.dragdrop-box {
  border-radius: 10px;
  box-shadow: 5px 5px 6px #ebf2f5;
  border: solid 2px #ebf2f5;
  transition: all ease 0.4s;
  cursor: auto;
  padding: 25px 30px 25px !important;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 12px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.75);
  // margin:20px;
}

.dragedit-list {
  width: 80vw !important;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.dragedit-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 13px;
  height: 30px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  //   0 8px 10px 1px rgba(0, 0, 0, 0.14),
  //   0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: transparent;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.image:last-child {
  border: none;
}

.imgPath.cdk-drop-list-dragging .imgPath:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 12px;
  border: 1px solid #555;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.error-message {
  color: transparent;
  margin: 0.5rem 1rem 0 0;
}
.visible-message {
  color: crimson;
}
