  
.mat-card{
  display:flex;
  min-height: 78%;
  margin-left: 50px;
  margin-top: 50px;
}

.mat-card-title{
  position:absolute;
  left:0px;
  right:0px;
  border-bottom-style: solid;
  border-bottom-color: #f5f5f5;;
  border-bottom-width: 2px;
  padding-bottom: 3px;
  min-width: 100%;

}
.mat-card-header {
  color: rgb(161, 154, 154);
}

.title{
  position: relative;
  left:10px;
}
