/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* project variables*/

$color-primary: rgba(69,90,100,.87);

html { background-color: #f5f5f5; }

